<section class="todoapp">
  <header class="header">
    <div *ngIf="appState == 'default'">
      <h1>Add Todo</h1>
      <input class="new-todo" placeholder="What needs to be done?" type="text" [(ngModel)]="text" name="todo" (keyup.enter)="addTodo()" autofocus>
    </div>
    <div *ngIf="appState == 'edit'">
      <h1>Edit Todo</h1>
      <input class="new-todo" type="text"  [(ngModel)]="text" name="updatetodo" (keyup.enter)="updateTodo()" autofocus>
    </div>
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [ngClass]="{completed: todo.complete}">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label (dblclick)="editTodo(todo)"> {{todo.text}} </label>
          <button class="destroy" (click)="deleteTodo(todo.text)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}}</span>
    <ul class="filters">
      <li>
        <a [routerLink]="['/all']" [class.selected]="path === 'all'">All</a>
      </li>
      <li>
        <a [routerLink]="['/completed']" [class.selected]="path === 'completed'">Completed</a>
      </li>
    </ul>
  </footer>
</section>
